//blue color
$theme-color: #4FBFCE;

//pink color
$pink-gradient: linear-gradient(90deg, #B687D3 0%, #B56DE0 100%);
$pink-gradient-1: linear-gradient(59.35deg, #C494E1 15.72%, #C28CE3 84.44%);
$pink-gradient-2: linear-gradient(270deg, #B390C8 -0.24%, #D5BCE4 104.27%);

//blue color
$blue-color: #758BD9;
$blue-gradient-1: linear-gradient(59.35deg, #79B2E6 15.72%, #989CC1 84.44%);
$blue-gradient-2: linear-gradient(270deg, #93A0E1 -0.24%, #B0AFE7 104.27%);

//orange color
$orange-gradient: linear-gradient(90deg, #DFAE75 0%, #F1B08C 100%);
$orange-gradient-1: linear-gradient(59.35deg, #FAA23B 15.72%, #FFE8AE 84.44%);
$orange-gradient-2: linear-gradient(270deg, #FAA23B -0.24%, #FFE8AE 104.27%);
